@font-face {
  font-family: Harmattan;
  src: url(../fonts/Harmattan/Harmattan-Regular.ttf);
}
h1 {
  font-family: Harmattan;
}
.moon {
  background-color: lightcyan;
  width: 3rem;
  height: 3rem;
  border: black 2px solid;
  border-radius: 3rem;
}
input {
  border: none;
  outline: none;
  background-color: powderblue;
  border-radius: 5px;
}
input:hover {
  background-color: lightseagreen;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 0rem solid transparent;
  border-right: 5rem solid transparent;
  border-bottom: 4rem solid magenta;
}
.square {
  background-color: mediumspringgreen;
  width: 3rem;
  height: 3rem;
  border: black 2px solid;
  border-radius: 0rem;
}

.rectangle {
  background-color: yellowgreen;
  width: 6rem;
  height: 3rem;
  border: black 2px solid;
  border-radius: 0rem;
}
