// Body Setup
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}
// Text input
input[type="text"] {
  border: none;
  width: 15rem;
  height: 1.5rem;
  margin: 1% auto;
  display: flex;
  align-items: center;
}
input[type="submit"] {
  border: none;
  width: 2.4rem;
  height: 1.5rem;
  margin: 1% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
// Every other list item
li:nth-child(2n) {
  background-color: gray;
}
// To remove style from list
li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 1.5rem;
  margin: 1% auto;
}
